app:
  period: 10
  errorperiod: 1
  db: "./watcher.db"
web:
  active: true
  port: 8080
postmark:
  active: false
  apikey: "key"
  fromemail: "from@example.com"
  emails:
    - "user@example.com"
  subject: "Http checker errors"
  messagetext: "Request failed for"
telegram:
  active: false
  bottoken: "SomeToken"
  messagetext: "Request failed for"
  users:
    - 1
    - 2
